<?xml version="1.0"?>
<robot name="SimSupervisor">
    <webots>
        <plugin type="node_remover_plugin.node_remover_plugin.NodeRemoverPlugin">
            <robotName>andino</robotName>
            <devices>caster_rotation_joint caster_wheel_joint</devices>
        </plugin>
    </webots>
</robot>
