<?xml version="1.0"?>
<robot name="SimSupervisor">
    <webots>
        <plugin type="webots_supervisor_plugin.webots_supervisor_plugin.WebotsSupervisorPlugin">
            <robotName>andino</robotName>
            <devices>caster_rotation_joint caster_wheel_joint</devices>
        </plugin>
    </webots>
</robot>
